<!-- <!DOCTYPE html> -->
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos
        est similique architecto doloribus in ratione quis inventore animi ea.
        Dicta, perferendis!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos
        est similique architecto doloribus in ratione quis inventore animi ea.
        Dicta, perferendis!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos
        est similique architecto doloribus in ratione quis inventore animi ea.
        Dicta, perferendis!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
