<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node js Crash Course</title>
  </head>
  <body>
    <nav style="display: flex; gap: 2rem">
      <a href="/">home page</a>
      <a href="/">about page</a>
    </nav>
    <h1>About page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quo a iste
      expedita earum doloremque consectetur iure repudiandae molestias
      consequuntur!
    </p>
  </body>
</html>
