<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node js Crash Course</title>
  </head>
  <body>
    <nav class="">
      <div class="site-title">
        <a href="/"><h1>Blog</h1> </a>
        <p>A Blog site</p>
      </div>
      <ul>
        <li>
          <a href="/">Blogs</a>
          <a href="/about">About</a>
          <a href="/blogs/create">New Blog</a>
        </li>
      </ul>
    </nav>

    <div class="blogs content">
      <h2>All blogs</h2>
    </div>
  </body>
</html>
